@mixin font-face($font-family, $url, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: '#{$style}';

    src: url('#{$url}.eot');
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
    url('#{$url}.woff') format('woff'),
    url('#{$url}.ttf') format('truetype');

  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content
  }
}

@mixin tablets {
  @media screen and (max-width: 775px) {
    @content
  }
}

@mixin larger-phone {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content
  }
}

@mixin small-phones {
  @media screen and (max-width: 320px) {
    @content
  }
}

@mixin placeholder {
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Function for converting a px based font-size to rem.
  @function rem($size) {
    $remSize: $size / 14px;
    @return #{$remSize}rem;
  }