.socials {
    display: flex;
    align-items: center;

    &__link {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
        
        &--fb {
            svg {
                width: 9px;
                height: 16px;
            }
        }

        &--inst {
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}